<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsc.dao.BannerDao">
    <insert id="insertImg">
        insert into banner values (#{id},#{title},#{img},#{create_date},#{status},#{other})
    </insert>
    <!--展示数据-->
    <select id="queryByPage" resultType="Banner">
        select id,title,img,create_date,status from banner limit #{start},#{row}
    </select>
    <!--根据id查询-->
    <select id="queryById" resultType="Banner">
        select id,title,img,create_date,status from banner where id = #{id}
    </select>
    <!--计算纵跳数-->
    <select id="queryTotal" resultType="java.lang.Integer">
        select count(id) from banner
    </select>
    <!--更新数据-->
    <update id="updateImg">
        update banner
        <set>
            <if test="title!=null">
                title = #{title},
            </if>
            <if test="img!=null">
                img = #{img},
            </if>
            <if test="create_date!=null">
                create_date = #{create_date},
            </if>
            <if test="status!=null">
                status = #{status}
            </if>
        </set>
        where id =#{id}
    </update>
    <!--批量删除-->
    <delete id="deleteBulk">
        delete from
        banner
        where
        id IN
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>
    <!--查询激活的轮播图-->
    <select id="showActive" resultType="Banner">
         select id,title,img,create_date,status from banner where status = #{status}
    </select>
    <!--poiExcel-->
    <select id="queryAll" resultType="Banner">
         select id,title,img,create_date,status from banner
    </select>
    <!--前台页面轮播图-->
    <select id="queryFrontBanner" resultType="com.nsc.dto.FrontBannerDto">
         select id,title 'desc',img 'thumbnail' from banner
    </select>
</mapper>
