<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsc.dao.ChapterDao" >
  <resultMap id="BaseResultMap" type="com.nsc.entity.Chapter" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="ALBUM_ID" property="albumId" jdbcType="VARCHAR" />
    <result column="SIZE" property="size" jdbcType="VARCHAR" />
    <result column="DURATION" property="duration" jdbcType="VARCHAR" />
    <result column="SRC" property="src" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="OTHER" property="other" jdbcType="VARCHAR" />
  </resultMap>

  <!--展示前台数据-->
  <select id="queryFrontData" resultType="com.nsc.dto.ChapterDto">
    select title,src 'download_url',size, duration from chapter where album_id = #{id}
  </select>
  <!--批量删除-->
  <delete id="deleteBulk" parameterType="java.lang.String" >
    delete from chapter
    where ID in
    <foreach collection="array" close=")" open="(" separator="," item="id">
      #{id}
    </foreach>
  </delete>
  <!--分页查询-->
  <select id="queryByPage" resultMap="BaseResultMap">
    select ID, TITLE, ALBUM_ID, SIZE, DURATION, SRC, STATUS from chapter where ALBUM_ID=#{albumId} limit #{start},#{row}
  </select>
  <!--查询总条数-->
  <select id="queryCount" resultType="java.lang.Integer">
        select count(ID) from chapter where ALBUM_ID=#{albumId}
   </select>
  <sql id="Base_Column_List" >
    ID, TITLE, ALBUM_ID, SIZE, DURATION, SRC, STATUS, OTHER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from chapter
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from chapter
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.nsc.entity.Chapter" >
    insert into chapter (ID, TITLE, ALBUM_ID, 
      SIZE, DURATION, SRC, 
      STATUS, OTHER)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{albumId,jdbcType=VARCHAR}, 
      #{size,jdbcType=VARCHAR}, #{duration,jdbcType=VARCHAR}, #{src,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nsc.entity.Chapter" >
    insert into chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="albumId != null" >
        ALBUM_ID,
      </if>
      <if test="size != null" >
        SIZE,
      </if>
      <if test="duration != null" >
        DURATION,
      </if>
      <if test="src != null" >
        SRC,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="other != null" >
        OTHER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="albumId != null" >
        #{albumId,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        #{src,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        #{other,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nsc.entity.Chapter" >
    update chapter
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="albumId != null" >
        ALBUM_ID = #{albumId,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        SIZE = #{size,jdbcType=VARCHAR},
      </if>
      <if test="duration != null" >
        DURATION = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="src != null" >
        SRC = #{src,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="other != null" >
        OTHER = #{other,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nsc.entity.Chapter" >
    update chapter
    set TITLE = #{title,jdbcType=VARCHAR},
      ALBUM_ID = #{albumId,jdbcType=VARCHAR},
      SIZE = #{size,jdbcType=VARCHAR},
      DURATION = #{duration,jdbcType=VARCHAR},
      SRC = #{src,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      OTHER = #{other,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>